spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
      spring:
        mail:
          host: smtp.gmail.com
          port: 587
          username: ${sayanbanerjee382@gmail.com}
          password: ${MAIL_PASSWORD}
          properties:
            mail:
              smtp:
                auth: true
                starttls:
                  enable: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000


server:
  port: 8080

logging:
  level:
    root: INFO

