spring:

  datasource:
    url: jdbc:postgresql://localhost:5432/journal_tasks
    username: postgres
    password: postgres

    jpa:
      hibernate:
        ddl-auto: update
      open-in-view: false
  data:
    mongodb:
      uri: mongodb://localhost:27017/journaldb

    redis:
      repositories:
        enabled: false

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
        group-id: journal-group
        auto-offset-reset: earliest

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

server:
  port: 8080

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics,prometheus,loggers
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
