spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/journal_tasks
    username: postgres
    password: postgres

  data:
    mongodb:
      host: mongo
      port: 27017
      database: journal_db

  redis:
    host: redis
    port: 6379

  kafka:
    bootstrap-servers: kafka:9092

  jpa:
    hibernate:
      ddl-auto: update

  security:
    oauth2:
      client:
        registration: {}   # disables OAuth for docker

logging:
  level:
    root: INFO

management:
    endpoints:
      web:
        exposure:
            include: health,info
      endpoint:
        health:
          show-details: always

