spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/journal_tasks
    username: postgres
    password: postgres

  mail:
    host: smtp.gmail.com
    port: 587
    username: sayanbanerjee382@gmail.com
    password: xfsulokyfjvpjhpl
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
