spring:
  server:
    port: ${PORT:8080}
  data:
    mongodb:
      host: localhost
      port: 27017
      database: journal_db

    redis:
      repositories:
        enabled: false

  datasource:
    url: jdbc:postgresql://localhost:5432/journal_tasks
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false



  kafka:
    listener:
      auto-startup: false
    bootstrap-servers: localhost:9092
    consumer:
      group-id: journal-group
      auto-offset-reset: earliest
      properties:
        spring.json.trusted.packages: "*"
    producer:
      properties:
        spring.json.add.type.headers: false

  mail:
    host: smtp.gmail.com
    port: 587
    username: sayanbanerjee382@gmail.com
    password: xfsulokyfjvpjhpl
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level [%X{requestId}] %logger{36} - %msg%n"
