spring:
  data:
    mongodb:
      host: mongo
      port: 27017
      database: journal_db

  datasource:
    url: jdbc:postgresql://postgres:5432/journal_tasks
    username: postgres
    password: postgres

  redis:
    host: redis
    port: 6379

  kafka:
    bootstrap-servers: kafka:9092
