spring:
  main:
    web-application-type: servlet

  datasource:
      url: jdbc:postgresql://postgres:5432/tasks
      username: postgres
      password: postgres
      driver-class-name: org.postgresql.Driver

  jpa:
      database-platform: org.hibernate.dialect.PostgreSQLDialect
      hibernate:
        ddl-auto: validate

  data:
    mongodb:
      uri: mongodb://mongo:27017/tasks
    redis:
      host: redis
      port: 6379

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

  kafka:
    bootstrap-servers: kafka:9092

server:
  tomcat:
    use-apr: NEVER
  port: 8080
  address: 0.0.0.0
logging:
  level:
    root: INFO

