apiVersion: apps/v1
kind: Deployment
metadata:
  name: journal-app
  namespace: journal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: journal-app
  template:
    metadata:
      labels:
        app: journal-app
    spec:
      containers:
        - name: journal-app
          image: journal-app:1.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080

          startupProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            failureThreshold: 30
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10

          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1024Mi"
              cpu: "500m"

          envFrom:
            - configMapRef:
                name: journal-config
            - secretRef:
                name: journal-secret
